@import "../global-styles.scss";

header.header-container {
    background-color: $primary-background-color;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    div.container__header-logo {
        display: flex;

        h1 {
            font-size: 20px;
            align-self: center;
            color: $secondary-font-color;
            margin: 0px;
        }
    }
}

nav {
    display: flex;
    a {
        padding: 0.7rem;
        color: $secondary-font-color;
        text-decoration: none;
        &:hover {
            color: #fcfe7f;
        }
    }
}
.links-container {
    display: flex;
}
.icon-container {
    display: flex;
    align-items: center;
    button {
        border: none;
        background-color: transparent;
    }
}
svg {
    width: 24px;
    height: 24px;
    color: $secondary-font-color;
    margin-right: 2rem;
}
