<header class="header-container">
    <div class="container__header-logo">
        <img src="./../../assets/icons/logo-main.png">
        <h1 class="">EkoBazarek</h1>
    </div>
    <nav class="">
        <a routerLink="/home" href="#">Home</a>
        <a href="#">O nas</a>
        <a routerLink="/product" href="#">Produkty</a>
        <a href="#">Kontakt</a>
    </nav>
    <div class="links-container ">
        <a class="">
            <!-- <img src="./../../assets/icons/envelop.svg"> -->
        </a>
        <a routerLink="/home" href="#">
            <i>ulubione</i>
            <!-- <img src="./../../assets/icons/envelop.svg"> -->
        </a>
        <a class='icon-container'>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="logout()" mat-menu-item [hidden]="!isUser">Wyloguj</button>
                <button (click)="redicrectToProfile()" mat-menu-item [hidden]="!isUser">Profil</button>
                <button (click)="redicrectToAuth()" mat-menu-item [hidden]="isUser">Zaloguj</button>
            </mat-menu>
        </a>

    </div>
</header>