<footer>
    <div class="container">

        <mat-icon class='envelope-icon' svgIcon="facebook"></mat-icon>
        <h3>SUBSKRYBUJ</h3>
        <span>Bądź pierwszym, który siędowie o naszych nowych produktach</span>
        <div class="input-wrapper">
            <input type="text">
            <button>Subskrybuj</button>
        </div>
        <div class="icons-wrapper">
            <mat-icon svgIcon="facebook"></mat-icon>
            <mat-icon svgIcon="instagram"></mat-icon>
            <mat-icon svgIcon="linkedIn"></mat-icon>
            <mat-icon svgIcon="twitter"></mat-icon>
            <mat-icon svgIcon="youtube"></mat-icon>
        </div>
        <hr>
        <nav>
            <ul class="nav__ul-list">
                <li>
                    <a href="">O nas</a>
                </li>
                <li>
                    <a href="">Produkty</a>
                </li>
                <li>
                    <a href="">Kontakt</a>
                </li>
                <li>
                    <a href="">Warunki użytkownika</a>
                </li>
                <li>
                    <a href="">Polityka prywatności</a>
                </li>
            </ul>

            <hr>
            <div class="nav__span-wrapper">
                <span>@2023, EcoBazarek Store Powered By Domino, App icons by
                    <u>icons8</u></span>
            </div>


        </nav>
    </div>
</footer>