
<!-- <mat-selection-list>
    <mat-list-option *ngFor="let product of productCategories" checkboxPosition="before">
        {{product.name}}
    </mat-list-option>
</mat-selection-list>   -->

<mat-selection-list [multiple]="false" >
    <mat-list-option  
    *ngFor="let productCategory of filteredProductCategories" 
    
    checkboxPosition="before" 
    (click)="emitSelectedCategory(productCategory.id)"
    >
        {{productCategory.name}}
    </mat-list-option>
</mat-selection-list>
<!-- [selected]="allSelected" zlesposob
     checkboxPosition="before" 
 -->
 