<div class="container">


	<h3>Dodaj Produkty</h3>


	<div class="container-dropzone" appDnd (fileDropped)="onFileDropped($event)">
		<input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)" />
		<img src="../../../../assets/pictures/mountain-64.png" alt="">
		<span>Kliknij lub upuść plik</span>
	</div>
	<span>ICONA Maksymalny rozmiar pliku 1mb. Wpieramy formaty *.jpg, *gif, *png.</span>
	<form [formGroup]="productForm" (ngSubmit)="addProductToDb()">
		<div class="container__in-column">
			<mat-form-field MatFormFieldControl="productName" appearance="outline">
				<mat-label>Nazwa Produktu*</mat-label>
				<input matInput placeholder="Placeholder" formControlName="productName">
			</mat-form-field>

			<mat-form-field>
				<mat-label>Opis</mat-label>
				<textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="7"
					formControlName="desc"></textarea>
			</mat-form-field>
		</div>

		<div class="container__in-row">
			<mat-form-field>
				<mat-label>Typ Produktu*</mat-label>
				<mat-select formControlName="productType">
					<mat-option *ngFor="let type of productTypes" [value]="type.id">{{type.name}}</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Kategoria*</mat-label>
				<mat-select formControlName="category">
					<mat-option *ngFor="let category of productCategories"
						[value]="category.id">{{category.name}}</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Cena za jednostkę w PLN</mat-label>
				<input matInput placeholder="Placeholder" formControlName="price">
				<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Jednostka*</mat-label>
				<mat-select formControlName="unit">
					<mat-option *ngFor="let unit of productUnits" [value]="unit.id">{{unit.name}}</mat-option>
				</mat-select>
			</mat-form-field>

			<div class="btn-container">
				<button (click)="resetForm()"class="btn-reset">Reset</button>
				<button type="submit" class="btn-add">Dodaj</button>
			</div>
		</div>
	</form>
</div> 