$primary-background-color: #46aa42;
$secondary-background-color: #F6F5F1;
$third-background-color: #412F22;
$forth-background-color: #FFFFFF;


$primary-font-color: #46aa42;
$secondary-font-color: #FFFFFF;
$third-font-color: #412F22;
$forth-font-color: #535353;
// $secondary-font-color: #FFFFFF;



