$primary-background-color: #46aa42;
$secondary-background-color: #F6F5F1;
$third-background-color: #412F22;


$primary-font-color: #46aa42;
$secondary-font-color: #FFFFFF;
$third-font-color: #412F22;
// $secondary-font-color: #FFFFFF;


