@import "../../../global-styles.scss";

.wrapper {
    position: relative;
    padding: 0px;
    margin: 0px;
    .custom-carousel {
        width: 100%;
        height: 95vh;
    }

    .custom-carousel .carousel-inner,
    .custom-carousel .carousel-item {
        width: 100%;
        height: 100%;
    }

    .custom-carousel img {
        object-fit: cover;
    }

    .span-wrapper {
        position: absolute;
        font-size: 48px;
        color: $secondary-font-color;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .wrapper_btn {
        font-size: 14px;
        width: 142px;
        height: 42px;
        border: none;
        color: $primary-font-color;
        background-color: $secondary-background-color;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
