@import "../../../global-styles.scss";

form {
   
    display: flex;
    flex-direction: column;
    width: 100%;    
    margin-bottom: 5rem;

    h3 {
        font-size: 48px;
        font-weight: 500;
        color: $third-font-color;
    }
    label {
        font-size: 12px;
    }
    .form-group {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        flex-wrap: wrap;
        gap: 1rem;
        label {
            font-weight: 500;
        }
        input {
            border: 0;
            font-size: 12px;
            height: 36px;
            width: 100%
        }
        .group__form-input {
            display: flex;
            flex-direction: column;
            min-width: 48.7%;
            margin-bottom: 1rem;
        }
    }
    .btn-group {
        display: flex;
        justify-content: end;
        button {
            border: none;
            margin-top: 2rem;
            padding: 0.5rem 1.8rem;
            border-radius: 2px;
            margin-left: 1rem;
        }
    }
    h4 {
        font-size: 14px;
        color: $third-font-color;
        font-weight: 600;
    }

    .button-wrapper {
        display: flex;
        flex-direction: row;
        flex: 1;
        min-width: 100%;
        justify-content: end;
        button {
            border: none;
            width: 99px;
            height: 42px;
        }
        .reset-btn {
            color: black;
            border: none;
            background-color: transparent;
        }
        .save-btn {
            color: $secondary-font-color;
            background-color: $primary-background-color;
        }
    }
}

.form-group-inline {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    input {
        margin-bottom: 2rem;
    }
    textarea {
        border: none;
        resize: none;
        outline: none;
        padding: 0.7rem;
    }
}
.form-input-row {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-top: 2rem;
    gap: 1rem;
    .street {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 50%;
    }
    .house-accomodation-number {
        display: flex;
        width: 25%;
        flex-direction: column;
        align-self: center;

        input {
            width: 100%;
        }
    }
}

.span-wrapper {
    margin-top: 1rem;
    span {
        padding-left: 4px;
        font-weight: 450;
    }
}
.red-validator {
    color: red;
    font-size: 12px;
    font-weight: 550;
    display: flex;
    align-items: center;
}
.green-validator {
    color: green;
    font-size: 12px;
    font-weight: 550;
    display: flex;
    align-items: center;
    mat-icon {
        margin-right: 0.2rem;
    }
}
