<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h3 [hidden]="!isHeader">REJESTRACJA</h3>
    <div class="form-group">
        <div class="group__form-input">
            <label for="firstName">Imię* </label>
            <input id="firstName" type="text" formControlName="firstName">
        </div>
        <div class="group__form-input">
            <label for="lastName">Nazwisko* </label>
            <input id="lastName" type="text" formControlName="lastName">
        </div>

        <div class="group__form-input">
            <label for="email">Email* </label>
            <input id="email" type="email" formControlName="email">
        </div>
        <div class="group__form-input">
            <label for="phone">Telefon* </label>
            <input id="phone" type="number" formControlName="phone">
        </div>

        <div class="group__form-input">
            <label for="password">Hasło* </label>
            <input id="password" type="text" formControlName="password">
        </div>
        <div class="group__form-input">
            <label for="repeatPassword">Powtórz hasło* </label>
            <input id="repeatPassword" type="text" formControlName="repeatPassword">
        </div>


        <div *ngIf="password && (password.dirty || password.touched)">
            <div class="span-wrapper">
                <span>Hasło musi spełniać następujące wymagania:</span>
            </div>
            <div *ngIf="password.errors?.['minlength']">
                <span class='red-validator'>
                    <mat-icon>clear</mat-icon>
                    Przynajmniej 8 znaków
                </span>
            </div>
            <div *ngIf="!password.errors?.['minlength']">
                <span class='green-validator'>
                    <mat-icon>check</mat-icon>
                    Przynajmniej 8 znaków
                </span>
            </div>
            <div *ngIf="password.errors?.['upperCase']">
                <span class='red-validator'>
                    <mat-icon>
                        clear
                    </mat-icon>
                    Przynajmniej jedna duża litera
                </span>
            </div>
            <div *ngIf="!password.errors?.['upperCase']">
                <span class='green-validator'>
                    <mat-icon>
                        check
                    </mat-icon>
                    Przynajmniej jedna duża litera
                </span>
            </div>
            <div *ngIf="password.errors?.['specialCharacter']">
                <span class='red-validator'>
                    <mat-icon>
                        clear
                    </mat-icon>
                    Znak specjalny
                </span>
            </div>
            <div *ngIf="!password.errors?.['specialCharacter']">
                <span class='green-validator'>
                    <mat-icon>
                        check
                    </mat-icon>
                    Znak specjalny
                </span>
            </div>
        </div>



        <div class="form-group-inline">

            <h4>ADRES I INFORMACJE O GOSPODARSTWIE</h4>
            <label for="farmName">Nazwa gospodarstwa*</label>
            <input id="farmName" type="text" formControlName="farmName">
            <label for="farmDesc">Opis gospodarstwa*</label>
            <textarea id="farmDesc" type="text" formControlName="farmDesc" rows="5" cols="40"></textarea>

            <!-- <input id="farmDesc" type="text" formControlName="farmDesc"> -->
        </div>


        <div class="form-input-row">
            <div class="street">
                <label for="street">Ulica*</label>
                <input id="street" type="text" formControlName="street">
            </div>
            <div class="house-accomodation-number ">
                <label for="streetNumber">Numer domu*</label>
                <input id="streetNumber" type="number" formControlName="streetNumber">
            </div>
            <div class="house-accomodation-number ">
                <label for="flatNumber">Numer mieszkania</label>
                <input id="flatNumber" type="text" formControlName="flatNumber">
            </div>
        </div>






        <div class="group__form-input">
            <label for="city">Miasto/Wieś*</label>
            <input id="city" type="text" formControlName="city">
        </div>

        <div class="group__form-input">
            <label for="postCode">Kod pocztowy*</label>
            <input id="postCode" type="text" formControlName="postCode">

        </div>

        <div class="group__form-input">
            <label for="voivodeship">Województwo*</label>
            <input id="voivodeship" type="text" formControlName="voivodeship">

        </div>

        <div class="group__form-input">
            <label for="county">Powiat*</label>
            <input id="county" type="text" formControlName="county">
        </div>




        <div class="group__form-input">
            <label for="district">Gmina*</label>
            <input id="district" type="text" formControlName="district">
        </div>
        <div class="button-wrapper">
            <button (click)="resetForm()">Reset</button>
       
            <button type="submit">Zapisz</button>
        </div>

   
    </div>

</form>