

<div class="container" [hidden]="!isProducts">
    <section class="container-filters">
        <div>
            <h3>Produkty</h3>
            <mat-form-field>
                <mat-label>Szukaj po nazwie</mat-label>
                <input matInput [(ngModel)]="searchTerm" (input)="filterProductsByName()">
            </mat-form-field>
        </div>
        <h5 class="type">typ</h5>
        <ul>
            <app-type-list [productTypes]="productTypes" (selectedTypeEmit)="filterProductsAndCategories($event)">
            </app-type-list>
        </ul>
        <h5>Kategoria</h5>
        <ul>
            <app-category-list [filteredProductCategories]="filteredProductCategories"
                (selectedCategoryEmit)="filterByCategories($event)">
            </app-category-list>
        </ul>
    </section>
    <section class="container-products">
        <app-product-list [filteredProducts]="filteredProducts"></app-product-list>
    </section>
</div>