
<section>
    <div>
        <h3>Produkty</h3>
        <input type="text" name="" id="">
    </div>
    <h5>typ</h5>
    <ul>
        <app-type-list 
        [productTypes]="productTypes"
       (selectedTypeEmit)="filter($event)"
        >
            
        </app-type-list>
      
    </ul>
    <h5>Kategoria</h5>
    <ul>
        <app-category-list 
        [filteredProductCategories]="filteredProductCategories"
        (selectedCategoryEmit)="filterPerCategories($event)"
        ></app-category-list>
      
    </ul>

    <div>
        <span><strong>  WYBRANE</strong></span>
        <p *ngFor="let product of filteredProducts">{{product.name }}</p>
    </div>
</section>