@import "../global-styles.scss";

.container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 7rem;

    h3 {
        font-size: 48px;
        color: $third-font-color;
        margin-bottom: 36px;
    }
    .container-filters {
        display: flex;
        flex-direction: column;
        max-width: 25%;
    }
    .container-products {
        display: flex;
        flex-direction: row;
    }
    h5 {
        font-size: 18px;
        font-weight: 550;
    }
    .type {
        padding-top: 1rem;
    }
}
