<div *ngFor="let products of filteredProducts">
    {{products.name}}
</div>

<div class="container" [hidden]="!isProducts">
    <section class="container-filters">
        <div>
            <h3>Produkty</h3>
            <mat-form-field>
                <mat-label>Szukaj po nazwie</mat-label>
                <input matInput [(ngModel)]="searchTerm" (input)="filterProductsByName()">
            </mat-form-field>
        </div>
        <h5 class="type">typ</h5>
        <ul>
            <app-type-list [productTypes]="productTypes" (selectedTypeEmit)="filterProductsAndCategories($event)">
            </app-type-list>
        </ul>
        <h5>Kategoria</h5>
        <ul>
            <app-category-list [filteredProductCategories]="filteredProductCategories"
                (selectedCategoryEmit)="filterByCategories($event)">
            </app-category-list>
        </ul>
    </section>
    <section class="container-products">
        <app-product-list ></app-product-list>

        <!-- [hidden]="!isProducts" (viewTogglerEvent)="toggleView($event)"-->
    </section>
</div>

<!-- <app-add-product [productTypes]="productTypes" [productUnits]='productUnits' [productCategories]="productCategories"
    [products]="products" [hidden]="isProducts"></app-add-product> -->

<!-- <h2 mat-dialog-title>siema</h2>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> 
</div>
<div mat-dialog-actions>
    <button>aaaaa</button>
     <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> 
</div> -->