<section class="container-products">
    <a [hidden]='isAddCard' (click)="openDialog()">
        <!-- (click)="viewTogglerEmit()" -->
        <div class="add-card">
            <mat-icon>add</mat-icon>
        </div>
    </a>

    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
    <figure class="product-container">
        <img src="../../../../assets/pictures/food.jpg" alt="">
        <h6>Krowy Mleczne</h6>
        <figcaption>
            opis produktu, krowa rasy HF, typowo mleczna. Rekordowe osobniki oddaja
            w swoim zyciu 100000l mleko.</figcaption>
        <span> IKONA 55zl/kg</span>
        <div class="inline-items">
            <a href="">Dowiedz się więcej IKONA </a>
            <span>IKONAIKONA</span>
        </div>
    </figure>
</section>