@import "../../../colors.scss";

.container {
    display: flex;
    flex-direction: column;
   
    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 515px;
        label {
            font-weight: 600;
        }
        input {
            border: 0;
            font-size: 12px;
            height: 36px;
        }
        .group__form-input {
            display: flex;
            flex-direction: column;
            width: 515px;
            margin-right: 1rem;
            margin-bottom: 1rem;
            label {
                font-size: 12px;
            }
        }
    }
    .btn-group {
        display: flex;
        justify-content: end;
        button {
            border: none;
            margin-top: 2rem;
            padding: 0.5rem 1.8rem;
            border-radius: 2px;
            margin-left: 1rem;
        }
    }
    button {
        border: none;
        width: 99px;
        height: 42px;
        color: $secondary-font-color;
        background-color: $primary-background-color;
        align-self: end;
    }
}
