@import "../colors.scss";

.container {
    margin-top: 3rem;
    margin-left: 7rem;
    h3 {
        font-size: 48px;
        color: $third-font-color;
    }
    a {
        margin-right: 1rem;
    }
}
.custom-tab-group ::ng-deep .mat-ink-bar {
    background-color: green; /* Kolor podkreślenia */
  }
.tab-container{
    border-bottom: 1px solid green;
}
.registration-wrapper {
    width: 80%;
}