// @import "@coreui/coreui/scss/coreui";
@import "../node_modules/@coreui/coreui/scss/coreui.scss";
@import "./app/colors.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.primary-btn {
    color: $secondary-font-color;
    background-color: $primary-background-color;
}

h3 {
    font-size: 48px;
    color: $third-font-color;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular material
.mat-mdc-form-field {
    .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c1205077789-1.mdc-text-field--filled {
        background-color: $forth-background-color;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: $forth-background-color;
    }
}

button .mdc-button__label {
    color: $secondary-font-color;
}

mat-tab-header div.mdc-tab {
    justify-content: start;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 220px;
    flex: 0 0 auto;
}
