/* You can add global styles to this file, and also import other style files */
@import "@coreui/coreui/scss/coreui";
@import "./app/global-styles.scss";




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.primary-btn {
    color: $secondary-font-color;
    background-color: $primary-background-color;
}

h3 {
    font-size: 48px;
    color: $third-font-color;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular material
// Tabk
// .mdc-tab {
//     justify-content: start !important;
//     padding-left: 1rem !important;
//     padding-right: 1rem !important;
//     max-width: 220px !important;
//     flex: 0 0 auto !important;
// }
// .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled)
button .mdc-button__label {
    color: $secondary-font-color;
}

// .mdc-list-item {
//     padding-left: 0px !important;
// }
mat-tab-header div.mdc-tab {
    justify-content: start;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 220px;
    flex: 0 0 auto;
}
