<app-carousel></app-carousel>
<div class="container-categories">
    <h3>POPULARNE KATEGORIE</h3>
    <ul class="card-wrapper">
        <li *ngFor="let productCategory of productCategories; let i = index;">
            <app-category-card  [productCategory]="productCategory"></app-category-card>
        </li>
    </ul>
    <h3>Produkty</h3>
    <section class="container-products">
        <app-product-list [filteredProducts]="products" [isAddCard]="!isAddCard"></app-product-list>
    </section>
</div>

